
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">

        <ul class="nav side-menu">
            <li><a href="/Home/Index"><i class="fa fa-home"></i><span class="bt">Tạo chương trình</span><span class="rg">Create</span></a></li>
            <li><a href="/Home/ChonChuongTrinh" target="_blank"><i class="fa fa-home"></i><span class="bt">Chọn chương trình</span><span class="rg">Choose</span></a></li>
            <li><a href="/Home/QuaySo" target="_blank"><i class="fa fa-cogs"></i><span class="bt">Quay số</span><span class="rg">Random</span></a></li>
        </ul>
    </div>
</div>
